@charset "UTF-8";
#COLLECTION {
  transition: 1s;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

video {
  position: relative;
  top: -350px;
  z-index: -1;
}

.mainbanner {
  position: relative;
  height: 351px;
  top: 500px;
}

.mainbanner .inneritems {
  position: absolute;
  display: flex;
}

.mainbanner .left_bg {
  position: relative;
  display: inline-block;
  top: -400px;
  width: 660px;
  height: 500px;
  background: url("../img/section_1/bg/visual_bg_L01.jpg");
  background-position: center;
  background-size: contain;
}

.mainbanner .left_bg .textarea {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Bree Serif', serif;
  font-size: 65px;
  color: white;
}

.mainbanner .left_bg .textarea span:first-child::before {
  content: '';
  position: absolute;
  top: 280px;
  width: 55%;
  height: 1px;
  background-color: white;
}

.mainbanner .left_bg .textarea span:last-child {
  font-size: 16px;
  letter-spacing: 4px;
  color: white;
}

.mainbanner .right_bg {
  position: relative;
  display: inline-block;
  top: -400px;
  width: 660px;
  height: 500px;
  background: url("../img/section_1/bg/visual_bg_R01.jpg");
  background-position: center;
  background-size: contain;
}

.mainbanner .right_bg .textarea {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
}

.mainbanner .right_bg .textarea span {
  font-family: 'Bree Serif', serif;
  margin-left: 250px;
  margin-bottom: 20px;
}

.mainbanner .right_bg .textarea span:first-child {
  font-size: 20px;
}

.mainbanner .right_bg .textarea span:last-child {
  margin-top: 80px;
  font-size: 14px;
  color: white;
}

.mainbanner .right_bg .textarea span:last-child:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 80px;
  top: 230px;
  left: 460px;
  background-color: white;
}

.center_bg {
  position: relative;
  top: -400px;
  left: 500px;
  width: 550px;
  height: 550px;
  background: url("../img/section_1/visual_watch01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*content 영역*/
.container {
  /*.box.items_3*/
  /*.box.items_4*/
  /*.box.items_5*/
  /*.box.items_6*/
}

.container .content {
  position: relative;
  display: inline-block;
  top: -300px;
  /*.box.items_2*/
}

.container .content .inner {
  width: 1320px;
  /*.box.items_1*/
}

.container .content .inner .box.items_1 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  margin-bottom: 150px;
}

.container .content .inner .box.items_1 p {
  position: relative;
  margin-top: 100px;
  font-size: 16px;
  color: #292929;
}

.container .content .inner .box.items_1 p:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  top: -50px;
  left: calc(50% - 25px);
  background: black;
}

.container .content .inner:nth-child(2) {
  background-color: whitesmoke;
}

.container .content .box.items_2 {
  position: relative;
  z-index: 1;
}

.container .content .box.items_2 .items {
  font-family: 'Bree Serif', serif;
}

.container .content .box.items_2 .items .title, .container .content .box.items_2 .items .title + h2, .container .content .box.items_2 .items p {
  padding-left: 20px;
}

.container .content .box.items_2 .items h3 {
  position: relative;
  font-size: 90px;
  font-weight: 300;
}

.container .content .box.items_2 .items h2 {
  font-size: 40px;
  color: #944500;
}

.container .content .box.items_2 .items p:first-of-type {
  font-size: 20px;
  color: #181818;
}

.container .content .box.items_2 .items p:last-of-type {
  color: #292929;
}

.container .content .box.items_2 .items .imgsec {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1020px;
  height: 300px;
  left: 150px;
  margin-top: 150px;
  padding-bottom: 200px;
  margin-bottom: 100px;
}

.container .content .box.items_2 .items .imgsec img {
  transition: 1s;
  margin-left: 150px;
  opacity: 0;
}

.container .content .box.items_2 .items .imgsec h6 {
  font-size: 18px;
}

.container .content .box.items_2 .imgwrap {
  overflow: hidden;
  position: absolute;
  width: 900px;
  top: 100px;
  left: 420px;
  z-index: -1;
  transition: 1s;
}

.container .content .box.items_2 .imgwrap .mainimg {
  position: relative;
  width: 720px;
  height: 349px;
  background-image: url("../img/section_2/tit_img.jpg");
  background-size: cover;
  float: left;
}

.container .box.items_3 {
  position: relative;
}

.container .box.items_3 .items {
  height: 450px;
}

.container .box.items_3 .items:hover img:nth-last-child(2) {
  transform: scale(1.05);
}

.container .box.items_3 .items img:nth-last-child(2) {
  transition: .5s;
}

.container .box.items_3 .items h3, .container .box.items_3 .items p {
  display: inline-block;
  width: 600px;
  margin-left: 650px;
  font-size: 18px;
}

.container .box.items_3 .items h3 {
  width: 400px;
  font-size: 70px;
  font-family: 'Bree Serif', serif;
}

.container .box.items_3 .items p {
  color: #292929;
}

.container .box.items_3 .items .imgwrap {
  position: relative;
}

.container .box.items_3 .items .imgwrap img {
  position: absolute;
}

.container .box.items_3 .items .imgwrap img:last-of-type {
  width: 480px;
  left: 30px;
  top: 30px;
}

.container .box.items_3 .items:nth-child(2) {
  display: inline-block;
  margin-top: 100px;
  margin-left: 780px;
}

.container .box.items_3 .items:nth-child(2) h2, .container .box.items_3 .items:nth-child(2) p {
  position: absolute;
  margin-top: 210px;
  margin-left: -780px;
}

.container .box.items_3 .items:nth-child(2) img {
  margin-top: -200px;
}

.container .box.items_3 .commonbutton {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 22px;
}

.container .box.items_3 .commonbutton:after {
  content: '>';
  position: relative;
  display: inline-block;
  color: #292929;
  left: 15px;
}

.container .box.items_3 .commonbutton:before {
  content: '';
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  left: 273.5px;
  top: 0px;
  border-radius: 100%;
  border: 2px solid gray;
}

.container .box.items_4 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  margin: 200px 0px;
}

.container .box.items_4 h3 {
  font-size: 80px;
  letter-spacing: 5px;
}

.container .box.items_4 p {
  position: relative;
  margin-top: 50px;
  font-size: 22px;
  letter-spacing: 6px;
  color: #292929;
}

.container .box.items_4 .imgwrap {
  overflow: hidden;
  position: relative;
  display: flex;
  max-width: 1320px;
  height: 500px;
  top: 100px;
  z-index: 50;
}

.container .box.items_4 .imgwrap .img {
  float: left;
  position: relative;
  min-width: 440px;
  height: 100%;
  left: -440px;
}

.container .box.items_4 .imgwrap .img.first {
  background: url("../img/section_4/watch_01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .box.items_4 .imgwrap .img.secound {
  background: url("../img/section_4/watch_02.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .box.items_4 .imgwrap .img.third {
  background: url("../img/section_4/watch_03.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .box.items_4 .imgwrap .img.fourth {
  background: url("../img/section_4/watch_04.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .box.items_4 .imgwrap .img.five {
  background: url("../img/section_4/watch_05.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .box.items_4 .imgwrap .img .on {
  position: absolute;
  display: block;
  width: 440px;
  height: 500px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  top: 500px;
  text-align: left;
  transition: 1s;
  transition-property: top;
}

.container .box.items_4 .imgwrap .img .on .textarea {
  margin: 40px;
}

.container .box.items_4 .imgwrap .img .on .textarea .subtext {
  font-size: 40px;
  margin: 20px 0;
}

.container .box.items_4 .imgwrap .img .on .textarea h5 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 100px;
}

.container .box.items_4 .imgwrap .img .on .textarea h5:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  left: 40px;
  top: 285px;
  background-color: white;
}

.container .box.items_4 .imgwrap .img .on .textarea .commonbutton:before {
  content: '┼';
  position: absolute;
  text-align: center;
  line-height: 45px;
  width: 50px;
  height: 50px;
  bottom: 100px;
  left: 210px;
  border: 1px solid white;
  border-radius: 100%;
  box-sizing: border-box;
}

.container .box.items_4 .imgwrap .img:hover .on {
  position: absolute;
  display: block;
  width: 440px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}

.container .box.items_1 {
  padding: 50px;
  position: relative;
}

.container .box.items_1 .inneritems {
  position: absolute;
  font-size: 500px;
  opacity: .03;
  top: -200px;
  right: 0px;
}

.container .maxwidth {
  overflow: hidden;
  width: 1320px;
  height: 900px;
  padding-top: 20px;
}

.container #subvideo {
  float: left;
  position: relative;
}

.container .mainbanner.secound {
  position: relative;
  top: -20px;
}

.container .mainbanner.secound .center_bg {
  position: absolute;
  top: 0px;
  height: 770px;
  left: 450px;
  background: url("../img/section_5/watch.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.container .mainbanner.secound .inneritems {
  position: absolute;
  font-size: 250px;
  font-family: 'Bree Serif', serif;
  color: white;
  top: 200px;
  padding-left: 50px;
}

@keyframes movement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container .box.items_3.section_6 .items .imgwrap {
  position: relative;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 {
  position: relative;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 489px;
  height: 489px;
  animation-name: movement;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div:nth-of-type(1) {
  background: url("../img/section_6/gear_b_01.png") no-repeat;
  animation-duration: 30s;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div:nth-of-type(2) {
  background: url("../img/section_6/gear_b_02.png") no-repeat;
  animation-duration: 10s;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div:nth-of-type(3) {
  left: 380px;
  top: 235px;
  width: 173px;
  height: 173px;
  background: url("../img/section_6/gear_b_03.png") no-repeat;
  animation-duration: 30s;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div:nth-of-type(4) {
  background: url("../img/section_6/gear_b_04.png") no-repeat;
  animation-duration: 10s;
}

.container .box.items_3.section_6 .items .imgwrap .watchmove_1 div:nth-of-type(5) {
  background: url("../img/section_6/gear_b_05.png") no-repeat;
  animation-name: none;
}

.container .box.items_3.section_6 .flexbox {
  margin-left: 50px;
  font-family: 'Bree Serif', serif;
}

.container .box.items_3.section_6 .flexbox .title.left {
  margin-left: 580px;
}

.container .box.items_3.section_6 .flexbox p {
  padding-top: 20px;
}

.container .box.items_3.section_6 .flexbox .commonbutton {
  top: 500px;
  margin-left: 700px;
}

.container .box.items_3.section_6 .flexbox .commonbutton:before {
  content: '';
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  left: 253.5px;
  top: 0px;
  border-radius: 100%;
  border: 2px solid gray;
}

.container .section_7 {
  position: relative;
  top: 200px;
}

.container .section_7 .items {
  display: flex;
}

.container .section_7 .items .flexbox {
  width: 50%;
}

.container .section_7 .items .flexbox .title {
  font-size: 100px;
}

.container .section_7 .items .flexbox p:nth-of-type(1) {
  font-size: 20px;
}

.container .section_7 .items .flexbox p:nth-of-type(2) {
  font-size: 16px;
}

.container .section_7 .items .flexbox .commonbutton {
  position: relative;
  left: 0px;
  bottom: -50px;
  font-size: 22px;
}

.container .section_7 .items .flexbox .commonbutton:after {
  content: '>';
  position: relative;
  display: inline-block;
  color: #292929;
  left: 15px;
}

.container .section_7 .items .flexbox .commonbutton:before {
  content: '';
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  left: 291px;
  top: 0px;
  border-radius: 100%;
  border: 2px solid gray;
}

.container .section_7 .imgwrap {
  width: 50%;
  height: 480px;
  overflow: hidden;
}

.container .section_7 .imgwrap div {
  width: 100%;
  height: 100%;
  background: url("../img/section_7/pink_watch_main.png") no-repeat;
  background-size: contain;
  transition: .5s;
}

.container .section_7 .imgwrap div:hover {
  transform: scale(1.2);
}

.container .section_8 {
  position: relative;
  top: 300px;
  width: 100%;
  height: 810px;
  background: url("../img/section_8/bg_img.jpg");
}

.container .section_8 .items {
  height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.container .section_8 .items h1 {
  font-family: 'Bree Serif', serif;
  font-size: 100px;
}

.container .section_8 .items p {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.container .section_8 .items input {
  width: 400px;
  height: 50px;
  margin-top: 50px;
  padding-left: 30px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid whitesmoke;
  font-size: 20px;
  color: whitesmoke;
}

.container .section_8 .items button {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
}
